{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <p class="errornote">
            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}

        <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>

        {{form.as_p}}
        <input type="submit" value="Enviar">
    </form>
{% endblock content %}
    